/* #img1{
    position: fixed;
    top:0px;
    left: 10px;
}
/* #img2{
    position: absolute;
    top: 90px;
    left: 10px;
} */

/* #img2{
    position: fixed;
    top: 0;
    left: 0;
} */
 body{
    margin:0;
    padding: 0px;
    background-color: black;
    height: 100vh;
 }
 
 nav{
    background-color: chocolate;
 }

 #cont{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
 }

 a{
    color: black;
    text-decoration: none;
    padding: 20px;
    display: block;
 }

 a:hover {
background-color: pink;

 }
